{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block main %}
    <div class="row mb-3 justify-content-center">
        <h1>Quiz Generator</h1>
    </div>

    <div class="row p-3 mb-3 justify-content-center">
        <h2>Enter the topic for the quiz:</h2>
    </div>
    <form action="/" method="post">
        <div class="mb-3 justify-content-md-center">
            <input autocomplete="off" autofocus class="form-control mx-auto col col-lg-5" id="topic" name="topic" placeholder="Topic" type="text">
        </div>
        <div class="mb-3 justify-content-md-center">
            <button class="btn btn-primary col col-lg-5 generate" type="submit">Generate Quiz</button>
        </div>
    </form>

    <br>

{% endblock %}
